@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme{

  --color-primary-bg: #e9dfd9;
  --color-primary-text: #442917;
  --color-primary-border: #d6cbc4
}


@layer base {
*{
  @apply bg-primary-bg 
}
button, a, svg{
  @apply cursor-pointer

}
.wrapper{
  @apply max-w-[1480px] w-[95%] mx-auto
}

}
