@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme{

  --breakpoint-xs: 480px;

  --color-primary-bg: #e9dfd9;
  --color-primary-text: #442917;
  --color-primary-border: #d6cbc4
}


@layer base {
body {
  @apply bg-primary-bg 
}
button, a, svg{
  @apply cursor-pointer

}
.wrapper{
  @apply max-w-[1480px] w-[95%] mx-auto
}
.img{
  @apply h-full w-full object-cover block
}
.icon{
  @apply h-full w-full object-contain block
}

}
